<!doctype html>
<html>
  <body>
         <button type="button" onclick="window.location.href='{{ url_for('notes_page') }}';">Add note</button>
        {% for note in notes %}
            <p> Created time {{note["create_time"]}} </p>
            <p> Updated time {{note["update_time"]}} </p>            
            <p> {{note["note"]}} </p>
            <button type="button" onclick="window.location.href='{{ url_for('modify_note', note=note.note, id=note.id) }}';">Modify</button>
            <form method="post" action = "http://localhost:5000/delete_note">
                <input type="hidden" value={{note[id]}} name="id" />
                <input type="submit" value="Delete">
            </form>    
        {% endfor %}
  </body>
</html>